.navbar {
    grid-area: nav;
    width: 100vw;
    height: 5vh;
    background-color: #081f3e;
    color: white;
    font-size: 26px;
    line-height: 48px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.switch-button {
    padding: 0 10px;
    border-radius: 5px;
    min-width: 25%;
    overflow: hidden;
    white-space: nowrap;
}

.ws-status {
font-size: 20px;
}

.ws-icon {
    font-size: 30px;
}

.button:hover {
    background-color: #ccc;
}

.button:active {
    background-color: #081f3e;
    color: white;
}