<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="platform">

    <xacro:include filename="$(find kalman_description)/urdf/2_suspension/200A_suspension_side.xacro"/>

    <xacro:suspension_side side_name="l" side_value="1"/>
    <xacro:suspension_side side_name="r" side_value="-1"/>


</robot>
