[submodule "unity_sim"]
	path = unity_sim
	url = git@github.com:agh-space-systems-rover/unity_sim.git
[submodule "kalman_yolo"]
	path = kalman_yolo
	url = git@github.com:agh-space-systems-rover/kalman_yolo.git
[submodule "joy_linux"]
	path = joy_linux
	url = git@github.com:agh-space-systems-rover/joy_linux.git
