[submodule "vendor/unity_sim"]
	path = vendor/unity_sim
	url = ../../agh-space-systems-rover/unity_sim.git
[submodule "kalman_yolo"]
	path = kalman_yolo
	url = ../../agh-space-systems-rover/kalman_yolo.git
[submodule "vendor/joy_linux"]
	path = vendor/joy_linux
	url = ../../agh-space-systems-rover/joy_linux.git
[submodule "vendor/compressed_depth_image_transport"]
	path = vendor/compressed_depth_image_transport
	url = ../../agh-space-systems-rover/compressed_depth_image_transport.git
[submodule "vendor/service_based_nav2_controller"]
	path = vendor/service_based_nav2_controller
	url = ../../agh-space-systems-rover/service_based_nav2_controller.git
[submodule "vendor/yolo_ros"]
	path = vendor/yolo_ros
	url = ../../agh-space-systems-rover/yolo_ros.git
[submodule "vendor/point_cloud_utils"]
	path = vendor/point_cloud_utils
	url = ../../agh-space-systems-rover/point_cloud_utils.git
[submodule "vendor/bio_ik"]
	path = vendor/bio_ik
	url = ../../PickNikRobotics/bio_ik.git
	branch = ros2
