<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="platform">

    <xacro:macro name="differential_rod" params="parent name rpy xyz" >

        <!-- LINK -->
        <xacro:macro name="differential_rod_geo">
            <origin rpy="1.57075 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.78"/>
            </geometry>
        </xacro:macro>

        <xacro:macro name="differential_rod_color">
            <material name="black">
                <color rgba=".1 .1 .1 1"/>
            </material>
        </xacro:macro>


        <link name="${name}">

            <!-- <xacro:if value="${use_mesh == 'false'}"> -->
                <visual>
                    <xacro:differential_rod_geo/>
                    <xacro:differential_rod_color/>
                </visual>
            <!-- </xacro:if> -->

            <!-- <collision>
                <xacro:differential_rod_geo/>
            </collision> -->

            <xacro:cylinder_inertial radius="0.01" length="0.78" mass="0.1">
                <origin xyz="0.0 0.0 0.0" rpy="1.57075 0 0" />
            </xacro:cylinder_inertial>

        </link>

        <gazebo reference="${name}">
            <mu1> .2 </mu1>
            <mu2> .2 </mu2>
            <material> Gazebo/Grey </material>
            <selfCollide>False</selfCollide>
        </gazebo>

        <!-- JOINT -->
        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}"/>
            <origin rpy="${rpy}" xyz="${xyz}"/>
        </joint>

    </xacro:macro>
</robot>
