.flashing-background {
  animation: flashing 1s infinite alternate;
}

@keyframes flashing {
  0% {
    background-color: white;
  }
  50% {
    background-color: #fe6565;
  }
  100% {
    background-color: white;
  }
}
