<library path="rqt_rscp">
  <class name="kalman_rscp/RscpPublisher" type="kalman_rscp::RqtRscp" base_class_type="rqt_gui_cpp::Plugin">
    <description>Build and publish framed RSCP request protobuf messages.</description>
    <qtgui>
      <group>
        <label>Kalman</label>
      </group>
      <label>RSCP Publisher</label>
      <statustip>Publish RSCP request frames to rscp/serial/rx.</statustip>
    </qtgui>
  </class>
</library>
