.arm-panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-direction: row;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-weight: 600;
}

.status-header,
.pose-header {
  display: flex;
  font-family: 'Bai Jamjuree';
  color: var(--strong-foreground);
  font-weight: 800;
  justify-content: center;
}

.scales-header {
  display: flex;
  font-family: 'Bai Jamjuree';
  color: var(--strong-foreground);
  justify-content: center;
  margin-bottom: 8px;
}

.scales {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.scale-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scale-name {
  display: flex;
  flex: 1;
  align-items: center;
  min-height: 26px;
  font-size: 14px;
}

.scale-value {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
}

.scale-value-holder {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  min-height: 26px;
}

/* Base styling for the input range */
input[type='range'] {
  -webkit-appearance: none; /* Removes default styling in WebKit browsers */
  appearance: none;
  background: var(--background);
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--green-foreground);
  border-radius: 50%;
  border-color: var(--dark-background);
  cursor: pointer;
}

/* Track before the thumb in Firefox */
input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--weak-foreground);
  border-radius: 5px;
}

.lock-name {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 18px;
  margin-right: 18px;
  min-height: 30px;
}

.locks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.joint-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joint-name {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  font-size: 18px;
  margin-right: 18px;
  min-height: 30px;
}

.joint-lock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 18px;
  min-height: 26px;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 30px;
  border-radius: 20%;
  animation: blink-animation 0.5s ease-in-out;
  background-color: var(--interactive);
}

.joint-lock:hover {
  background-color: var(--dark-background);
}

.lock-selected {
  background-color: var(--active);
}

.joint-range {
  display: flex;
  color: var(--weak-foreground);
  font-size: 12px;
  align-items: flex-end;
  min-height: 30px;
}

.align-right {
  align-items: flex-end;
}

.align-left {
  align-items: flex-start;
}

.joint-value {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 18px;
  padding: 0px 5px;
  min-height: 30px;
  min-width: 30px;
}

.pose-requester {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-left: 30px;
}

.pose-options {
  display: flex;
  width: fit-content;
  max-height: 180px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  overflow-y: scroll;
}

.pose-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.pose-option {
  width: 100%;
  background-color: var(--interactive);
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.pose-option:hover {
  background-color: var(--dark-background);
}

.pose-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pose-send {
  display: flex;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  transition: background-color 0.3s;
}

.pose-abort {
  display: flex;
  width: 40%;
  padding: 10px;
  background-color: var(--red-background);
  margin-top: 20px;
  justify-content: center;
  transition: background-color 0.3s;
}

.pose-abort:hover {
  background-color: var(--red-foreground);
}

.pose-status {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.send-not-ready:hover {
  background-color: var(--dark-background);
}

.send-ready:hover {
  background-color: var(--green-foreground);
}

.pose-option:hover {
  background-color: var(--dark-background);
}

.pose-selected {
  background-color: var(--active);
  color: var(--strong-foreground);
}

.pose-name {
  margin: 10px 10px;
}

.pose-indicator {
  display: flex;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.pose-ready {
  background-color: var(--green-foreground);
}

.pose-not-ready {
  background-color: var(--red-foreground);
}

.send-ready {
  background-color: var(--green-background);
}

.send-not-ready {
  cursor: not-allowed;
  background-color: var(--dark-background);
}

.joint-not-set {
  color: var(--dark-background);
}

.pose-panel {
  display: flex;
  flex-direction: row;
}

.warn {
  color: var(--yellow-foreground);
}

.error {
  color: var(--red-foreground);
}

.blink {
  animation: blink-animation 0.5s ease-in-out;
}

.trajectory-and-pose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extra-space {
  margin-top: 20px;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
