.map-header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
}

.search-section {
  flex: 1;
}

.rover-label {
  background-color: var(--magenta-background) !important;
}

.marker-label {
  background-color: var(--blue-background) !important;
}

.arc-science-button {
  --button-background: var(--red-background);
  --button-active-background: color-mix(in srgb, var(--red-background), var(--red-foreground) 50%);
  --button-pressed-background: var(--red-foreground);
}
