.map {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.kalman-marker {
  filter: drop-shadow(0px 0px 10px black) brightness(0.9);
}

.waypoint-marker {
  filter: drop-shadow(0px 5px 5px black) brightness(0.9);
}

.waypoint-marker:global(.red) {
  filter: hue-rotate(0deg);
}

.waypoint-marker:global(.yellow) {
  filter: hue-rotate(60deg);
}

.waypoint-marker:global(.green) {
  filter: hue-rotate(120deg);
}

.waypoint-marker:global(.cyan) {
  filter: hue-rotate(180deg);
}

.waypoint-marker:global(.blue) {
  filter: hue-rotate(240deg);
}

.waypoint-marker:global(.magenta) {
  filter: hue-rotate(300deg);
}

.waypoint-marker-tooltip {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #ddd !important;
  /* black outline around text */
  font-size: 1.3em !important;
  text-shadow:
    -2px 0 black,
    0 2px black,
    2px 0 black,
    0 -2px black;
  margin-top: -10px !important;
  margin-left: 0px !important;
}

.waypoint-marker-tooltip:before {
  border: none !important;
}

:global(.leaflet-control-scale-line) {
  background-color: var(--dark-background) !important;
  border: none !important;
  border-radius: 5px;
  color: var(--foreground) !important;
  font-family: 'Roboto', sans-serif !important;
  padding: 10px !important;
  font-weight: normal !important;
  text-shadow: none !important;
  box-shadow: 0 0 10px black !important;
  font-size: 1em !important;
  opacity: 0.8 !important;
  text-align: center !important;
}
