.science {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.science-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.science-element-header {
  display: flex;
  font-family: 'Bai Jamjuree';
  color: var(--strong-foreground);
  font-weight: 800;
  justify-content: center;
}

.science-element-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.science-element-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.15s;
}

.science-element-icon-text {
  margin-left: 0.5rem;
  font-family: 'Bai Jamjuree';
  color: var(--strong-foreground);
  font-size: 14px;
}

.science-element-icon:hover {
  transform: scale(1.05);
}

.science-buttons {
  width: 100%;
}

.science-danger-exclamation-icon {
  width: 20%;
  height: 20%;
  color: var(--red-foreground);
}

.science-danger-text {
  max-width: 80%;
  color: var(--strong-foreground);
  font-weight: 800;
  justify-content: center;
}

.science-danger-refresh-icon {
  width: 10%;
  height: 10%;
  color: var(--weak-foreground);
  transition: 0.3s;
}

.science-danger-refresh-icon path {
  cursor: pointer;
}

.science-danger-refresh-icon:hover {
  color: var(--strong-foreground);
}