.wexlab {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
}

.wexlab-rows {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  max-width: min(100%, 300px);
  min-width: 250px;
}

.wexlab-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  margin-top: -5px;
}

.wexlab-row-item {
  flex: 1;
}

.wexlab-selectable {
  user-select: text;
}

.wexlab-input {
  flex: 1;
  min-width: 0;
}

.wexlab-input input {
  text-align: center;
}

.wexlab-step-button {
  flex: 0 0 auto;
}

.wexlab-field-header {
  text-align: center;
  color: var(--foreground);
  font-size: 0.8rem;
  font-weight: 600;
  user-select: none;
}

.wexlab-color-picker {
  margin: 10px 5px;
}

.wexlab-hex-label {
  transition: color 0.4s;
}

.colored-button:global(.red) {
  background-color: var(--red-background) !important;
}

.colored-button:global(.red):hover {
  background-color: color-mix(in srgb, var(--red-background), var(--red-foreground) 50%) !important;
}

.colored-button:global(.red):active {
  background-color: var(--red-foreground) !important;
}

.colored-button:global(.green) {
  background-color: var(--green-background) !important;
}

.colored-button:global(.green):hover {
  background-color: color-mix(in srgb, var(--green-background), var(--green-foreground) 50%) !important;
}

.colored-button:global(.green):active {
  background-color: var(--green-foreground) !important;
}

.tare-history {
  width: 100%;
  padding: 5px;
  background-color: var(--dark-background);
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
}

.tare-history-header {
  background-color: transparent !important;
  flex-grow: 1;
}

.tare-entry {
  background-color: var(--background) !important;
  flex-grow: 1;
}
