.wheels {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.rover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.rover img {
  filter: brightness(0.5);
}

/* .rover:not(:global(.show-target)) {
  margin-left: -100%;
} */

.rover:global(.show-target) {
  /* opacity: 0.5; */
  margin-left: -100%;
  filter: saturate(0) brightness(100) brightness(0.5);
}

.rover-h {
  width: 90%;
  aspect-ratio: 1 / 1.3;
  max-width: 500px;
  max-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rover-v {
  height: 60%;
  aspect-ratio: 1 / 1.3;
  max-height: 500px;
  position: relative;
}

.wheel {
  position: absolute;
  width: 19%;
  aspect-ratio: 0.65;
}

.wheel.fl {
  top: 0;
  left: 0;
}

.wheel.fr {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.wheel.bl {
  bottom: 0;
  left: 0;
}

.wheel.br {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.wheel-image {
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 0.935;
}

.body {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --arrow-color: rgb(255, 62, 55);
}

.arrow {
  height: 0px;
  width: 200%;
  min-width: 20px;
  /* border-width: 5px; set from JS */
  border-style: solid;
  border-color: var(--arrow-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--arrow-color);
  position: absolute;
  /* left: calc(50% - 2.5px);
  top: calc(50% - 2.5px);
  transform-origin: 2.5px 2.5px; set from JS */
}

.arrow-head {
  /* position: absolute; */
  background-color: transparent;
  border-style: solid;
  border-color: var(--arrow-color);
  border-width: 0;
  /* border-top-width: 20px;
  border-right-width: 20px; */
  border-radius: 5px;
  transform: rotate(45deg);
  /* width: 20px;
  height: 20px; */
  min-width: 20px;
  min-height: 20px;
  display: flex;
}
