.science-wrapper {
    display: flex;
    flex-direction: column;
}

.modules-wrapper {
    display: flex;
}

.science-button {
    width: 45%;
    margin: 3px 0;
    overflow: visible;
    border: 1px solid black;
}

.science-button:hover {
    background-color: #ccc;
}

.science-button:active {
    background-color: #aaa;
}

.last-pressed {
    background-color: #2df113;
}

.last-pressed:hover {
    background-color: #22cf0c;
}

.last-pressed:active {
    background-color: #1ea50c;
}