# Ignore autoconf artifacts
.deps
/config.h
/config.log
/config.status
/Makefile
/stamp-h1

# Ignore make artifacts
.dirstamp
/compasscal_ex/compass.o
/compasscal_lib/compasscalroutines.o
/compasscal_lib/lbfgs.o
/compasscal_lib/matrix.o

# Ignore built target
/compasscal
