.file-input-container {
  display: flex;
  flex: 1;
  width: 100%;
  min-width: 0;
}

.file-hidden {
  display: none;
}

.file-main {
  flex: 1;
  background-color: var(--dark-background) !important;
  min-width: 0;
  justify-content: flex-start;
}

.file-main-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-width: 0;
  padding: 2px 5px 4px 5px;
}

.file-main-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
