.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    cursor: pointer;
    user-select: none;
}

.modal-bg.shown {
    opacity: 1;
    pointer-events: all;
}

.modal {
    width: 600px;
    background-color: var(--background);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    cursor: auto;
}

.content {
    padding: 20px;
    height: calc(100% - 40px);
    color: var(--foreground);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content h1 {
    margin: 0 5px 5px 10px;
    color: var(--strong-foreground);
    font-weight: 600;
}

.message {
    margin: 5px;
    color: var(--weak-foreground);
    font-weight: 500;
}

.title-icon {
    margin-right: 10px;
}

.actions {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.action-btn {
    flex: 1;
}
