* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  /* cursor: pointer; */
}

html,
body {
  height: 100%;
}

/*
  SET DEFAULT FONT AND SMOOTHING
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  DEFAULT SETTINGS FOR CODE SNIPPETS ON WEBSITE
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
