.e-stop-button {
  width: calc(1em + 4px);
  height: calc(1em + 4px);
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s, background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-stop-button:hover {
  background-color: var(--background);
}

.e-stop-button:active {
  background-color: var(--interactive);
  transition: background-color 0s;
}

.e-stop-button-image {
  fill: var(--foreground);
}

.e-stop-button.warning {
  color: var(--red-foreground)
}
