.use-telegram {
    width: calc(1em + 4px);
    height: calc(1em + 4px);
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s transform 0.1s;
}

.use-telegram:hover {
    background-color: var(--background);
}

.use-telegram:active {
    background-color: var(--interactive);
    transition: background-color 0s;
}