# docs in ukf_filter_node.yaml.j2

/**:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.5
    two_d_mode: false
    transform_time_offset: 0.0
    transform_timeout: 0.5
    print_diagnostics: false
    debug: false
    permit_corrected_publication: false
    publish_acceleration: false
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: map

    # Copy map->base_link from odom->base_link
    odom0: odometry/local
    odom0_config: [false, false, false,
                   false, false, false,
                   true, true, true,
                   true, true, true,
                   false, false, false]
    odom0_differential: false
    odom0_relative: false
    odom0_queue_size: 10

    # Apply world-referenced pitch and roll correction from the IMU.
    imu0: imu/data # From the IMU
    imu0_config: [false, false, false,
{% if use_mag %}
                  true,  true,  true,
{% else %}
                  true,  true,  false,
{% endif %}
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_differential: false
    imu0_relative: false
    imu0_queue_size: 10
    imu0_remove_gravitational_acceleration: true


#     # XY correction from navsat_transform (GPS).
#     odom1: odometry/gps
#     odom1_config: [true,  true,  false,
#                    false, false, false,
#                    false, false, false,
#                    false, false, false,
#                    false, false, false]
#     odom1_differential: false
#     odom1_relative: false
#     odom1_queue_size: 10

#     # XY correction from detected fiducials.
#     odom2: odometry/fiducial
#     odom2_config: [true,  true,  false,
#                    false, false, false,
#                    false, false, false,
#                    false, false, false,
#                    false, false, false]
#     odom2_differential: false
#     odom2_relative: false
#     odom2_queue_size: 10

#     # Yaw fix from the ground station.
#     imu1: imu/spoofed # From the IMU
#     imu1_config: [false, false, false,
#                   false, false, true,
#                   false, false, false,
#                   false, false, false,
#                   false, false, false]
#     imu1_differential: false
#     imu1_relative: false
#     imu1_queue_size: 10
#     imu1_remove_gravitational_acceleration: true

    # TODO: Yaw+XYZ correction from SLAM.
    
    use_control: false

    process_noise_covariance: [
      0.05, 0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.05, 0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.06, 0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  10.0, 0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  10.0, 0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  10.0, 0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.025, 0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.025, 0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.04, 0.0,  0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.01, 0.0,  0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.01, 0.0,  0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.02, 0.0,  0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.01, 0.0,  0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.01, 0.0,
      0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.0,   0.0,   0.0,  0.0,  0.0,  0.0,  0.0,  0.0,  0.015
    ]
    # NOTE: This is mostly the default value of this matrix. Only the variances of absolute angular were increased so that IMU feels more stable.
    