.mapWrapper {
    height: 100%;
    grid-area: map;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        'mapdisplay'
        'controls';
    overflow: scroll;
    background-repeat: no-repeat;
}

.controlPanelWrapper {
    grid-area: controls;

    &>button {
        border: 1px solid black;
    }

    &>button:hover {
        background-color: #ccc;
    }

    &>button:active {
        background-color: #aaa;
    }
}

.watermark {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
}

.userMarker {
    width: 200px;
    height: auto;
    font-size: 12px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

.tagMarker {
    
    font-size: 12px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

.ircMarker {
    display: block;
    border: none;
    border-radius: 0%;
    padding: 0;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}