<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kalman">
    <link name="base_link" />

    <!-- RealSense -->
    <!-- origin at bottom screw mount -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />
    <xacro:sensor_d455 name="d455_front" parent="base_link" use_nominal_extrinsics="true">
        <origin xyz="-0.515 -0.175 0.250" rpy="0 0.349 0" />
    </xacro:sensor_d455>
    <xacro:sensor_d455 name="d455_back" parent="base_link" use_nominal_extrinsics="true">
        <origin xyz="-0.605 -0.175 0.350" rpy="0 0.349 -3.1416" />
    </xacro:sensor_d455>
    <xacro:sensor_d455 name="d455_left" parent="base_link" use_nominal_extrinsics="true">
        <origin xyz="-0.560 -0.130 0.200" rpy="0 0.349 1.5708" />
    </xacro:sensor_d455>
    <xacro:sensor_d455 name="d455_right" parent="base_link" use_nominal_extrinsics="true">
        <origin xyz="-0.560 -0.220 0.300" rpy="0 0.349 -1.5708" />
    </xacro:sensor_d455>
</robot>