<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="platform">

    <!-- FILES INCLUDED -->

    <xacro:include filename="$(find kalman_description)/urdf/0_utils/001_base_link.xacro" />
    <xacro:include filename="$(find kalman_description)/urdf/0_utils/004_cylinder_inertia.xacro"/>


</robot>
