<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="platform">

    <gazebo>
        <plugin filename="ign_ros2_control-system"
            name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <!-- <ros>
                <namespace>/kalman</namespace>
            </ros> -->
            <parameters>$(find kalman_description)/config/sim_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="wheel_fr_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="wheel_fl_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="wheel_br_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="wheel_bl_joint">
            <command_interface name="velocity">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="propulsion_module_fl_joint">
            <command_interface name="position">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
        </joint>
        <joint name="propulsion_module_fr_joint">
            <command_interface name="position">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
        </joint>
        <joint name="propulsion_module_bl_joint">
            <command_interface name="position">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
        </joint>
        <joint name="propulsion_module_br_joint">
            <command_interface name="position">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

        <joint name="rocker_r_joint">
            <command_interface name="position">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
        </joint>
        <joint name="rocker_l_joint">
            <command_interface name="position">
                <param name="min">-15</param>
                <param name="max">15</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

    </ros2_control>

</robot>